<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FluQ Home Page</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<header class="header">
    <a href=""><h1 class="logo">FluQ Marketplace</h1></a>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
            <circle cx="11.9166" cy="11.9167" r="7.58333" stroke="#2B2B2B" stroke-width="2"/>
            <path d="M21.9375 21.6667L18.6875 18.4167" stroke="#2B2B2B" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </div>
    <nav class="auth-buttons">
        <a>
            <button class="artist-btn">Artist?</button>
        </a>
        <a>
            <button class="login-btn">Log in</button>
        </a>
        <a>
            <button class="signup-btn">Sign up</button>
        </a>
    </nav>
</header>
</body>
</html>